<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>환율 계산</title>
</head>
<body>
<h2>환율 계산</h2>
<div> 송금국가: 미국(USD)</div>
<div>
    수취국기:
    <select>
        <option value="KRW" selected="selected">한국(KRW)</option>
        <option value="JPY">일본(JPY)</option>
        <option value="PHP">필리핀(PHP)</option>
    </select>
</div>
<div>환율:</div>
<div>송금액:
    <input type="number" name="price" placeholder="송금액 입력"> USD
</div>
<div>
    <button>Submit</button>
</div>
</body>
</html>
