<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>환율 계산</title>
</head>
<body>
<h2>환율 계산</h2>
<div> 송금국가: 미국(USD)</div>
<div>
    수취국기:
    <select id="nation-select-box" onchange="changeNation()">
        <option value="">통화선택</option>
        <option value="KRW">한국(KRW)</option>
        <option value="JPY">일본(JPY)</option>
        <option value="PHP">필리핀(PHP)</option>
    </select>
</div>
<div>환율: <span id="rate"></span></div>
<div>송금액:
    <input type="number" id="remittance" placeholder="송금액 입력"> USD
</div>
<div>
    <button onclick="calculate()">Submit</button>
</div>

<div id="amount-received"></div>

<script>
    async function changeNation() {
        const langSelect = document.getElementById("nation-select-box");
        const selectValue = langSelect.options[langSelect.selectedIndex].value;

        const rate = await fetch('http://localhost:8080/currency/' + selectValue)
                .then((response) => response.json())
                .then((data) => {
                    return data.rate;
                });
        let rateEle = document.getElementById("rate");
        rateEle.innerHTML = rate;
    }

    async function calculate() {
        const remittance = document.getElementById("remittance").value;
        const langSelect = document.getElementById("nation-select-box");
        const selectValue = langSelect.options[langSelect.selectedIndex].value;

        const data = {
            remittance: remittance,
            currency: selectValue
        };

        const price = await fetch('http://localhost:8080/price', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
        })
                .then((response) => response.json())
                .then((data) => {
                    return data.price;
                })
                .catch((error) => {
                    console.error('실패:', error);
                });

        let amountEle = document.getElementById("amount-received");
        amountEle.innerHTML = "수취금액은 " + price + " KRW 입니다";
    }
</script>
</body>
</html>
